Repository maruna232/agent-communication-nlmobm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @docs-team, @integration-team, @ai-team

Add public-samples/agent-communication-nlmobm/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-leads

Add public-samples/agent-communication-nlmobm/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/agent-communication-nlmobm/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/agent-communication-nlmobm/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/.github/workflows/dependency-scan.yml
  .github/workflows/dependency-scan.yml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/agent-communication-nlmobm/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @project-leads

Add public-samples/agent-communication-nlmobm/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/agent-communication-nlmobm/docs/architecture/data-flow.md
  docs/architecture/data-flow.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/architecture/scaling.md
  docs/architecture/scaling.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/architecture/security.md
  docs/architecture/security.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/architecture/system-overview.md
  docs/architecture/system-overview.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/development/setup.md
  docs/development/setup.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/development/testing.md
  docs/development/testing.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/development/websocket-protocol.md
  docs/development/websocket-protocol.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/operations/deployment.md
  docs/operations/deployment.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/operations/disaster-recovery.md
  docs/operations/disaster-recovery.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/operations/incident-response.md
  docs/operations/incident-response.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/user/privacy-policy.md
  docs/user/privacy-policy.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/docs/user/terms-of-service.md
  docs/user/terms-of-service.md
Owners: @docs-team, @project-leads

Add public-samples/agent-communication-nlmobm/infrastructure/cloud-run/websocket-service.yaml
  infrastructure/cloud-run/websocket-service.yaml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/monitoring/alerts/critical-alerts.yaml
  infrastructure/monitoring/alerts/critical-alerts.yaml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/monitoring/alerts/warning-alerts.yaml
  infrastructure/monitoring/alerts/warning-alerts.yaml
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/monitoring/dashboards/system-health.json
  infrastructure/monitoring/dashboards/system-health.json
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/monitoring/dashboards/websocket-metrics.json
  infrastructure/monitoring/dashboards/websocket-metrics.json
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/modules/frontend/main.tf
  infrastructure/terraform/modules/frontend/main.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/modules/frontend/outputs.tf
  infrastructure/terraform/modules/frontend/outputs.tf
Owners: @devops-team

.github/CODEOWNERS:

# When a pull request is opened, appropriate code owners will be automatically requested for review.
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                       @project-leads

# Frontend application code
src/web/**              @frontend-team

# Backend WebSocket server code
src/backend/**          @backend-team

# Infrastructure as Code and deployment configurations
infrastructure/**       @devops-team

# Security-related configurations and documentation
security/**             @security-team

# Project documentation
docs/**                 @docs-team @project-leads

# GitHub Actions CI/CD workflow configurations
.github/workflows/**    @devops-team

# Critical components with specific ownership

# Encryption implementations
src/web/src/lib/encryption.ts               @security-team @frontend-team
src/backend/src/utils/encryption.utils.ts   @security-team @backend-team

# WebSocket implementations
src/web/src/lib/websocket/**                @frontend-team @backend-team
src/backend/src/services/websocket.service.ts  @backend-team

# Google Calendar integration
src/web/src/lib/calendar/**                 @frontend-team @integration-team

# OpenAI API integration
src/web/src/lib/api/openai.api.ts           @frontend-team @ai-team

# Package configuration
package.json                                @devops-team @project-leads
package-lock.json                           @devops-team
