Repository maruna232/agent-communication-nlmobm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @docs-team, @integration-team, @ai-team

Add public-samples/agent-communication-nlmobm/src/web/src/components/layout/Footer.tsx
  src/web/src/components/layout/Footer.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/components/layout/Header.tsx
  src/web/src/components/layout/Header.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/components/layout/MobileNavigation.tsx
  src/web/src/components/layout/MobileNavigation.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/components/layout/PageContainer.tsx
  src/web/src/components/layout/PageContainer.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/components/layout/Sidebar.tsx
  src/web/src/components/layout/Sidebar.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/hooks/useAgent.ts
  src/web/src/hooks/useAgent.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/hooks/useCalendar.ts
  src/web/src/hooks/useCalendar.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/hooks/useForm.ts
  src/web/src/hooks/useForm.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/hooks/useLocalStorage.ts
  src/web/src/hooks/useLocalStorage.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/hooks/useNotifications.ts
  src/web/src/hooks/useNotifications.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/api/agent.api.ts
  src/web/src/lib/api/agent.api.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/api/calendar.api.ts
  src/web/src/lib/api/calendar.api.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/api/openai.api.ts
  src/web/src/lib/api/openai.api.ts
Owners: @frontend-team, @ai-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/api/websocket.api.ts
  src/web/src/lib/api/websocket.api.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/calendar/calendarSync.ts
  src/web/src/lib/calendar/calendarSync.ts
Owners: @frontend-team, @integration-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/calendar/eventUtils.ts
  src/web/src/lib/calendar/eventUtils.ts
Owners: @frontend-team, @integration-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/calendar/googleCalendar.ts
  src/web/src/lib/calendar/googleCalendar.ts
Owners: @frontend-team, @integration-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/constants/index.ts
  src/web/src/lib/constants/index.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/storage/indexedDB.ts
  src/web/src/lib/storage/indexedDB.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/storage/localStorage.ts
  src/web/src/lib/storage/localStorage.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/storage/sqliteStorage.ts
  src/web/src/lib/storage/sqliteStorage.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/types/agent.types.ts
  src/web/src/lib/types/agent.types.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/types/auth.types.ts
  src/web/src/lib/types/auth.types.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/types/calendar.types.ts
  src/web/src/lib/types/calendar.types.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/types/storage.types.ts
  src/web/src/lib/types/storage.types.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/types/websocket.types.ts
  src/web/src/lib/types/websocket.types.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/utils/dateTime.ts
  src/web/src/lib/utils/dateTime.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/utils/encryption.ts
  src/web/src/lib/utils/encryption.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/utils/errorHandling.ts
  src/web/src/lib/utils/errorHandling.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/utils/formatters.ts
  src/web/src/lib/utils/formatters.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/utils/validation.ts
  src/web/src/lib/utils/validation.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/websocket/encryption.ts
  src/web/src/lib/websocket/encryption.ts
Owners: @frontend-team, @backend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/websocket/messageHandlers.ts
  src/web/src/lib/websocket/messageHandlers.ts
Owners: @frontend-team, @backend-team

Add public-samples/agent-communication-nlmobm/src/web/src/lib/websocket/socketClient.ts
  src/web/src/lib/websocket/socketClient.ts
Owners: @frontend-team, @backend-team

Add public-samples/agent-communication-nlmobm/src/web/src/services/agent.service.ts
  src/web/src/services/agent.service.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/services/calendar.service.ts
  src/web/src/services/calendar.service.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/services/encryption.service.ts
  src/web/src/services/encryption.service.ts
Owners: @frontend-team

.github/CODEOWNERS:

# When a pull request is opened, appropriate code owners will be automatically requested for review.
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                       @project-leads

# Frontend application code
src/web/**              @frontend-team

# Backend WebSocket server code
src/backend/**          @backend-team

# Infrastructure as Code and deployment configurations
infrastructure/**       @devops-team

# Security-related configurations and documentation
security/**             @security-team

# Project documentation
docs/**                 @docs-team @project-leads

# GitHub Actions CI/CD workflow configurations
.github/workflows/**    @devops-team

# Critical components with specific ownership

# Encryption implementations
src/web/src/lib/encryption.ts               @security-team @frontend-team
src/backend/src/utils/encryption.utils.ts   @security-team @backend-team

# WebSocket implementations
src/web/src/lib/websocket/**                @frontend-team @backend-team
src/backend/src/services/websocket.service.ts  @backend-team

# Google Calendar integration
src/web/src/lib/calendar/**                 @frontend-team @integration-team

# OpenAI API integration
src/web/src/lib/api/openai.api.ts           @frontend-team @ai-team

# Package configuration
package.json                                @devops-team @project-leads
package-lock.json                           @devops-team
