Repository maruna232/agent-communication-nlmobm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @docs-team, @integration-team, @ai-team

Add public-samples/agent-communication-nlmobm/src/backend/src/services/auth.service.ts
  src/backend/src/services/auth.service.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/services/redis.service.ts
  src/backend/src/services/redis.service.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/services/websocket.service.ts
  src/backend/src/services/websocket.service.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/utils/encryption.utils.ts
  src/backend/src/utils/encryption.utils.ts
Owners: @security-team, @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/utils/error.utils.ts
  src/backend/src/utils/error.utils.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/utils/jwt.utils.ts
  src/backend/src/utils/jwt.utils.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/utils/logging.utils.ts
  src/backend/src/utils/logging.utils.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/utils/socket.utils.ts
  src/backend/src/utils/socket.utils.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/validators/auth.validator.ts
  src/backend/src/validators/auth.validator.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/validators/message.validator.ts
  src/backend/src/validators/message.validator.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/types/index.d.ts
  src/backend/types/index.d.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/.env.local
  src/web/.env.local
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/jest.config.js
  src/web/jest.config.js
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/next.config.js
  src/web/next.config.js
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/package.json
  src/web/package.json
Owners: @devops-team, @project-leads

Add public-samples/agent-communication-nlmobm/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__mocks__/firebase.mock.ts
  src/web/src/__mocks__/firebase.mock.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__mocks__/googleCalendar.mock.ts
  src/web/src/__mocks__/googleCalendar.mock.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__mocks__/openai.mock.ts
  src/web/src/__mocks__/openai.mock.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__mocks__/websocket.mock.ts
  src/web/src/__mocks__/websocket.mock.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__tests__/components/agent/AgentChat.test.tsx
  src/web/src/__tests__/components/agent/AgentChat.test.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__tests__/components/auth/LoginForm.test.tsx
  src/web/src/__tests__/components/auth/LoginForm.test.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__tests__/hooks/useAuth.test.ts
  src/web/src/__tests__/hooks/useAuth.test.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__tests__/lib/utils/encryption.test.ts
  src/web/src/__tests__/lib/utils/encryption.test.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/__tests__/services/storage.service.test.ts
  src/web/src/__tests__/services/storage.service.test.ts
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/app/layout.tsx
  src/web/src/app/layout.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/app/page.tsx
  src/web/src/app/page.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/app/agent/page.tsx
  src/web/src/app/agent/page.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/app/agent/conversation/[id]/page.tsx
  src/web/src/app/agent/conversation/[id]/page.tsx
Owners: @frontend-team

Add public-samples/agent-communication-nlmobm/src/web/src/app/api/agent/route.ts
  src/web/src/app/api/agent/route.ts
Owners: @frontend-team

.github/CODEOWNERS:

# When a pull request is opened, appropriate code owners will be automatically requested for review.
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                       @project-leads

# Frontend application code
src/web/**              @frontend-team

# Backend WebSocket server code
src/backend/**          @backend-team

# Infrastructure as Code and deployment configurations
infrastructure/**       @devops-team

# Security-related configurations and documentation
security/**             @security-team

# Project documentation
docs/**                 @docs-team @project-leads

# GitHub Actions CI/CD workflow configurations
.github/workflows/**    @devops-team

# Critical components with specific ownership

# Encryption implementations
src/web/src/lib/encryption.ts               @security-team @frontend-team
src/backend/src/utils/encryption.utils.ts   @security-team @backend-team

# WebSocket implementations
src/web/src/lib/websocket/**                @frontend-team @backend-team
src/backend/src/services/websocket.service.ts  @backend-team

# Google Calendar integration
src/web/src/lib/calendar/**                 @frontend-team @integration-team

# OpenAI API integration
src/web/src/lib/api/openai.api.ts           @frontend-team @ai-team

# Package configuration
package.json                                @devops-team @project-leads
package-lock.json                           @devops-team
