Repository maruna232/agent-communication-nlmobm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @backend-team, @devops-team, @security-team, @docs-team, @integration-team, @ai-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/modules/frontend/variables.tf
  infrastructure/terraform/modules/frontend/variables.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/modules/websocket-server/main.tf
  infrastructure/terraform/modules/websocket-server/main.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/modules/websocket-server/outputs.tf
  infrastructure/terraform/modules/websocket-server/outputs.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/infrastructure/terraform/modules/websocket-server/variables.tf
  infrastructure/terraform/modules/websocket-server/variables.tf
Owners: @devops-team

Add public-samples/agent-communication-nlmobm/security/dependency-scanning.sh
  security/dependency-scanning.sh
Owners: @security-team

Add public-samples/agent-communication-nlmobm/security/compliance/data-protection-impact-assessment.md
  security/compliance/data-protection-impact-assessment.md
Owners: @security-team

Add public-samples/agent-communication-nlmobm/security/compliance/gdpr-checklist.md
  security/compliance/gdpr-checklist.md
Owners: @security-team

Add public-samples/agent-communication-nlmobm/security/encryption/protocol-documentation.md
  security/encryption/protocol-documentation.md
Owners: @security-team

Add public-samples/agent-communication-nlmobm/security/penetration-testing/methodology.md
  security/penetration-testing/methodology.md
Owners: @security-team

Add public-samples/agent-communication-nlmobm/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/jest.config.js
  src/backend/jest.config.js
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/package.json
  src/backend/package.json
Owners: @devops-team, @project-leads

Add public-samples/agent-communication-nlmobm/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/config/config.ts
  src/backend/src/config/config.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/config/constants.ts
  src/backend/src/config/constants.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/config/error-messages.ts
  src/backend/src/config/error-messages.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/controllers/auth.controller.ts
  src/backend/src/controllers/auth.controller.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/controllers/health.controller.ts
  src/backend/src/controllers/health.controller.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/controllers/websocket.controller.ts
  src/backend/src/controllers/websocket.controller.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/interfaces/agent.interface.ts
  src/backend/src/interfaces/agent.interface.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/interfaces/auth.interface.ts
  src/backend/src/interfaces/auth.interface.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/interfaces/connection.interface.ts
  src/backend/src/interfaces/connection.interface.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/interfaces/message.interface.ts
  src/backend/src/interfaces/message.interface.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/interfaces/websocket.interface.ts
  src/backend/src/interfaces/websocket.interface.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/middleware/error.middleware.ts
  src/backend/src/middleware/error.middleware.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/middleware/firebase-auth.middleware.ts
  src/backend/src/middleware/firebase-auth.middleware.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/middleware/logging.middleware.ts
  src/backend/src/middleware/logging.middleware.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/middleware/rate-limiter.middleware.ts
  src/backend/src/middleware/rate-limiter.middleware.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/middleware/validation.middleware.ts
  src/backend/src/middleware/validation.middleware.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/routes/auth.routes.ts
  src/backend/src/routes/auth.routes.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/routes/health.routes.ts
  src/backend/src/routes/health.routes.ts
Owners: @backend-team

Add public-samples/agent-communication-nlmobm/src/backend/src/routes/index.ts
  src/backend/src/routes/index.ts
Owners: @backend-team

.github/CODEOWNERS:

# When a pull request is opened, appropriate code owners will be automatically requested for review.
# For more information about CODEOWNERS files, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                       @project-leads

# Frontend application code
src/web/**              @frontend-team

# Backend WebSocket server code
src/backend/**          @backend-team

# Infrastructure as Code and deployment configurations
infrastructure/**       @devops-team

# Security-related configurations and documentation
security/**             @security-team

# Project documentation
docs/**                 @docs-team @project-leads

# GitHub Actions CI/CD workflow configurations
.github/workflows/**    @devops-team

# Critical components with specific ownership

# Encryption implementations
src/web/src/lib/encryption.ts               @security-team @frontend-team
src/backend/src/utils/encryption.utils.ts   @security-team @backend-team

# WebSocket implementations
src/web/src/lib/websocket/**                @frontend-team @backend-team
src/backend/src/services/websocket.service.ts  @backend-team

# Google Calendar integration
src/web/src/lib/calendar/**                 @frontend-team @integration-team

# OpenAI API integration
src/web/src/lib/api/openai.api.ts           @frontend-team @ai-team

# Package configuration
package.json                                @devops-team @project-leads
package-lock.json                           @devops-team
